<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCO8x5BuvOnt6NYb1iUeNxNlUUQVtuJ1iQ</string>
	<key>GCM_SENDER_ID</key>
	<string>960832609905</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ccpCleanArchitecture.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>job-portal-58c38</string>
	<key>STORAGE_BUCKET</key>
	<string>job-portal-58c38.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:960832609905:ios:57fbec22ef6971de7045d0</string>
</dict>
</plist>